<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/event-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentEvent?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <span *ngIf="currentEvent?.type=='payment'">
        Cost:
      </span>
      <span *ngIf="currentEvent?.type=='savings'">
        Savings Goal:
      </span>
      <span [class.profitable]="currentEvent?.cost > 0" [class.no-profit]="currentEvent?.cost < 0">
        {{currentEvent?.cost | currency}}
      </span>
    </ion-card-header>
    <ion-card-content>
      <p>Date:
        <strong>${{currentEvent?.date}}</strong>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentEvent?.challengeType=='challenge'">
    <ion-card-header>
      Challenge Type
    </ion-card-header>
    <ion-card-content>
      <ion-select placeholder="Select challenge">
        <ion-select-option value="marathon">Run for a month</ion-select-option>
        <ion-select-option value="eat-healthy">Eat Healthy for a month</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentEvent?.challengeType=='spinner'">
    <ion-card-header>
      Spinner
    </ion-card-header>
    <ion-card-content>
      <app-spinner></app-spinner>
    </ion-card-content>
  </ion-card>


  <ion-card class="add-guest-form">
    <ion-card-header>
      Add Group Members
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input [(ngModel)]="groupMemberName" type="text" placeholder="What's your group members's name"></ion-input>
      </ion-item>

      <ion-button color="primary" expand="block" (click)="addGroupMember(groupMemberName)" [disabled]="!groupMemberName">
        Add
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Group Members
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let groupMember of groupMembers">
          <ion-label>{{groupMember}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button (click)="pay()" expand="block">
        Pay
      </ion-button>
    </ion-card-content>
  </ion-card>




</ion-content>